html,
body {
  padding: 0;
  margin: 0;
  font-family: Pragati Narrow,Roboto,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@media (max-width:600px){
  .host-iframe{
    height: 2400px !important;
  }
}

